{{#if addNewAnnouncement}}
<div class="well">
  <h4>New Announcement</h4>
    <form>
      <div class="form-group row">
        <label for="title" class="col-xs-2 col-form-label">Title</label>
        <div class="col-xs-10">
          {{input value=title class="form-control" id="title" class="form-control"}}
        </div>
      </div>

      <div class="form-group row">
        <label for="message">Message</label>
        <div class ="col-xs-10">
          {{input value=message class="form-control" id="message"}}
        </div>
      </div>

      <button = "button" class="btn btn-success btn-xs" {{action 'saveAnnouncement'}}>Save</button>
    </form>
</div>
{{else}}
  <button ="button" class="btn btn-success btn-xs" {{action 'announcementFormShow'}}>Add Announcement</button>
{{/if}}
