<li>
  {{#link-to 'rental' rental.id}} {{rental.owner}}'s {{rental.type}} in {{rental.city}} {{/link-to}}
  {{#if isImageShowing}}
    <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
    <button type ="button" class="btn btn-default btn-xs" {{action 'imageHide'}}>Hide Image</button>
  {{else}}
  <br>
    <button type="button" class="btn btn-default btn-xs" {{action 'imageShow'}}>Show Image</button>
  {{/if}}
</li>
