Located in {{rental.city}}, this {{rental.bedrooms}} bedroom {{rental.type}} is
available by arrangement through {{rental.owner}}.
<img src={{rental.image}} alt={{rental.type}}>
<br>
<button {{action 'delete' rental}}>Delete</button>
