{{#if updateRentalForm}}
<div class="well">
  <h4>Update {{rental.owner}}'s {{rental.type}}</h4>
    <form>
      <div class="form-group row">
        <label for="owner" class="col-xs-2 col-form-label">Owner</label>
        <div class="col-xs-10">
          {{input value=owner id="owner" class="form-control"}}
        </div>
      </div>

      <div class="form-group row">
        <label for="type" class="col-xs-2 col-form-label">Type</label>
        <div class="col-xs-10">
          {{input value=type id="type" class="form-control"}}
        </div>
      </div>

      <div class="form-group row">
        <label for="city" class="col-xs-2 col-form-label">City</label>
        <div class="col-xs-10">
          {{input value=city id="city" class="form-control"}}
        </div>
      </div>

      <div class="form-group row">
        <label for="bedrooms" class="col-xs-2 col-form-label">Number of Bedrooms</label>
        <div class="col-xs-10">
          {{input value=bedrooms id="bedrooms" class="form-control"}}
        </div>
      </div>

      <div class="form-group row">
        <label for="image" class="col-xs-2 col-form-label">Image URL</label>
        <div class="col-xs-10">
          {{input value=image id="image" class="form-control"}}
        </div>
      </div>

        <button type="button" class="btn btn-success btn-xs" {{action 'update' rental}}>Update</button>
    </form>
</div>
{{else}}
  <button type="button" class="btn btn-warning btn-xs" {{action 'updateRentalForm'}}>Update</button>
{{/if}}
